
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: fit-content;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-links li a:hover {
    text-decoration: underline;
}
.hero {
    height: fit-content;
    width: 100%;
    background-size: 100% 100%;
    background-position: center;
    padding-top: 80px;
    display: flex;
    align-content: stretch;
    flex-direction: column;
}


.hero-content {
    padding-top: 80px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 40px;
    border: 3px solid white;
}

.hero-content h1 {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.about h2{
    font-size: 35px;
    display: flex;
    justify-content: center;
}

.avatar {
    height: 500px;
    width: fit-content;
    margin: 20px auto;
    margin-left: 30px;
}

.about-content{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin: 40px 20px;
}

.avt{
    height: 200px;
    width: fit-content;
}